# this is the config file to run SOLA inversion for the 2017 toy problem
#--------------------------------------------------------------------------

[toy_problem]
#--------------------------------
# this section is only needed for the toy problem, not needed for other problems
# size of the grid in xcoord and ycoord
nx = 32
ny = 32

# multiplicative factor for target radii
# used for testing larger or smaller targets
factmul = 1.

[gen_params]
#--------------------------------
# If flag_new is True, compute Q matrix, if False, read part of Q matrix independent of eta
flag_new = True

# rootname for input files
# example : radname = toy, G matrix filename = Gij_toy.txt
radname = toy


[preprocessing]
#--------------------------------
# if flag_preprocess is True: 
#     - search for the most sparse line of G to permut with the first line
# if flag_sigma is True: 
#     - divide Gij by sigma_di, and save matrix (needed for Ak computation)

flag_sigma = True
flag_preprocess = True

[paths]
#--------------------------------
outdir = OUTPUT/
indir = INPUT/

[inversion]
#--------------------------------
# SOLA lsqr code name (with path if needed)
SOLAlsqr = ./LSQR_SOLA/LSQR_inversion_for_SOLA_N
niter = 100

# trade off parameter
eta = 1.

# range of model parameters to invert for
kmin = 0
kmax = 1023

[filtering]
#--------------------------------
# name of True model used for filtering

input_model = model_dots_uniform.txt 

[postprocessing]
#--------------------------------
# to compute model and uncertainties 
do_mk = True

# to compute averaging kernels and Resolution matrix 
compAkC = ./LSQR_SOLA/Compute_AveragingKernels_R_for_SOLA
do_Ak = True
do_Rmatrix = True

[Plotting]
#--------------------------------
outdirfig = Figures

# plot will be done relatively to a mean value
do_relative = False

# boundary for colorbar
vmin = -3.0
vmax = 3.0
sigmax = 1.0

[PlottingKernel]
#--------------------------------
# kvalue of Averaging kernel to be plotted
kvalue = 350

