# this is the config file to run SOLA inversion for a general problem
#--------------------------------------------------------------------------
# Gij, Vj, di, Tk must be created by user (inputs)
# depend on grid and physical problem

[gen_params]
#--------------------------------
# If flag_new is True, compute Q matrix, if False, read part of Q matrix independent of eta
flag_new = True

# rootname for input files
# example : radname = toy, G matrix filename = Gij_toy.txt
radname = toy


[preprocessing]
#--------------------------------
# if flag_preprocess is True: 
#     - search for the most sparse line of G to permut with the first line
# if flag_sigma is True: 
#     - divide Gij by sigma_di, and save matrix (needed for Ak computation)

flag_sigma = True
flag_preprocess = True


[paths]
#--------------------------------
outdir = OUTPUT/
indir = INPUT/


[inversion]
#--------------------------------
# SOLA lsqr code name (with path if needed)
SOLAlsqr = ./LSQR_SOLA/LSQR_inversion_for_SOLA_N
niter = 100

# trade off parameter
eta = 50.

# range of model parameters to invert for
kmin = 0
kmax = 1023


[postprocessing]
#--------------------------------
# to compute model and uncertainties 
do_mk = True

# to compute averaging kernels and Resolution matrix 
compAkC = ./LSQR_SOLA/Compute_AveragingKernels_R_for_SOLA
do_Ak = True
do_Rmatrix = True


